@import nib

// Mixins

pie-clearfix()
    &:before, &:after
        content " "
        display table

    &:after
        clear both

    *zoom 1

// 404

#msspm-web
    position fixed
    top 0
    left 0
    right 0
    bottom 0

// Globals

html, body
    overflow hidden

::-webkit-scrollbar
    display none

html
    overflow-y scroll

.full-screen-fixed
    position fixed
    top 0
    left 0
    bottom 0
    right 0
    width 100%
    height 100%

.modal
    position fixed
    top 10%
    margin-top 0
    bottom 10%
    background rgba(255, 255, 255, 0.8)
    border 0
    box-shadow none
    border-radius 0
    padding 0
    background transparent

    .modal-header, .modal-body, .modal-footer
        position absolute
        width 100%
        box-sizing border-box
        background transparent

    .modal-header
        top 0
        border-bottom 1px solid #eee
        height: 43px

    .modal-body
        position absolute
        overflow scroll
        top 43px
        bottom 80px
        max-height 100%

    .modal-footer
        bottom 0
        border-top 1px solid #eee
        height: 80px

.modal-backdrop
    background #fff
    opacity 0.93

.btn
    border-radius: 0
    font-size: 24px
    padding: 15px 30px
    background: #fff
    color rgb(91, 115, 130)

    &:hover
        background #fff
        color rgb(91, 115, 130)

.btn.btn-primary
    background: rgb(91, 115, 130)
    color #fff

@media (max-width: 480px)

    .modal
        position fixed
        top 10px

// msspm stuff

@-webkit-keyframes msspm-flyin
    0%
        opacity 0
        -webkit-transform scale(0.5)

    100%
        opacity 1
        -webkit-transform scale(1)

@-webkit-keyframes msspm-fadein
    0%
        opacity 0

    100%
        opacity 1

@-webkit-keyframes flipInY
    0%
        -webkit-transform rotateY(90deg)
        opacity 0

    40%
        -webkit-transform rotateY(-10deg)
        opacity 1

    70%
        -webkit-transform rotateY(10deg)
        opacity 1

    100%
        -webkit-transform rotateY(0deg)
        opacity 1

@-webkit-keyframes featureEmployee
    0%
        height 550px
    100%
        height 800px

.msspm-flyin
    -webkit-perspective 1000
    -webkit-backface-visibility hidden
    -webkit-animation msspm-flyin 0.7s

.msspm-fadein
    -webkit-perspective 1000
    -webkit-backface-visibility hidden
    -webkit-animation msspm-fadein 0.7s

.msspm-flipInY
    -webkit-animation-duration 2s
    -webkit-animation-fill-mode both
    -webkit-backface-visibility visible !important
    -webkit-animation-name flipInY

.msspm-featureEmployee-and-flipInY
    -webkit-animation-fill-mode both
    -webkit-backface-visibility visible !important
    -webkit-animation featureEmployee, flipInY
    -webkit-animation-duration 1s, 2s

.modal-high-scores-list

    .employee
        display block
        position relative
        height 40px
        width 100%
        box-sizing border-box
        box-shadow none
        background transparent
        transition opacity 0.5s
        margin-bottom 1px

        &:before
            content " "
            display block
            position absolute
            transition left 0.4s
            left 0
            top 0
            height 40px
            width 40px
            z-index 1
            background rgb(41, 65, 80)
            box-shadow 0 0 0 1px rgb(41, 65, 80)

        .photo
            position absolute
            left 0
            width 40px
            height 40px
            z-index 2
            -webkit-filter grayscale(1)
            opacity 0.8

        .name, .score
            font-weight 100
            box-sizing border-box
            padding-left 50px
            padding-right 100px
            overflow hidden
            text-overflow ellipsis
            display inline-block
            height 100%
            width auto
            line-height 40px
            font-size 28px
            color rgb(41, 65, 80)
            opacity 1
            text-align left
            position absolute
            top 0
            margin-top 0

        .score
            position: absolute
            text-align right
            right 0
            width 220px
            padding 0

// msspm

*
    box-sizing border-box
    font-family "Helvetica Neue", Helvetica, Arial, sans-serif
    outline none

body
    background #000
    overflow hidden

.vine-iframe-wrapper
    width 600px
    height 600px
    overflow hidden
    position absolute
    left 50%
    top 50%
    margin-top -300px
    margin-left -300px

.vine-iframe-wrapper.vine-iframe-wrapper-background
    -webkit-filter blur(30px)
    -webkit-transform scale(3)

.vine-iframe-wrapper iframe
    position absolute
    top -61px
    left -11px
    width 622px
    height 800px
    border 0

.vine-mouse-cover
    position fixed
    top 0
    left 0
    right 0
    bottom 0

.vine-hash-input
    transition all 0.5s
    position fixed
    top 50%
    left 50%
    width 600px
    margin-left -300px
    height 100px
    margin-top -400px
    padding 20px
    font-size 50px
    border 0
    background rgba(0, 0, 0, 0)
    color #fff
    text-shadow 1px 1px rgba(0, 0, 0, 0.3)
    opacity 0.5
    text-align center
    font-weight 300

.vine-hash-input:focus
    background rgba(0, 0, 0, 0.8)
    opacity 1

.vine-hash-input::-webkit-input-placeholder
    color rgba(255, 255, 255, 1)

.vine-hash-input:focus::-webkit-input-placeholder
    text-indent -9999px

.logo
    cursor pointer
    transition -webkit-filter 0.5s, all 0.5s
    position fixed
    bottom 10px
    right 15px
    width 250px
    -webkit-filter grayscale(1)
    opacity 0.3

.logo:hover
    -webkit-filter grayscale(0)
    opacity 0.8

@media (max-width: 480px)

    .logo
        left 10%
        width 80%
        bottom 10%