<div class="vine-iframe-wrapper vine-iframe-wrapper-background">
    <iframe src="" frameborder="0" scrolling="no"></iframe>
</div>
<div class="vine-mouse-cover"></div>
<div class="vine-iframe-wrapper">
    <iframe src="" frameborder="0" scrolling="no"></iframe>
</div>
<input class="vine-hash-input" type="text" autocomplete="off" spellcheck="false" maxlength="32" value="" placeholder="Search vines..." />
<a href="http://mysupersweetprommitzvah.com" target="_blank"><img class="logo" src="static/images/logo.png" /></a>